
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff; /* Default white background */
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff; /* Keep the white background in dark mode */
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background); /* This ensures the background is controlled via the --background variable */
  font-family: 'Montserrat Variable', sans-serif;
}

/* Custom adjustments for specific devices */
@media (max-width: 768px) {
  .footer-container {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}
